<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>teamID</key>
    <string>8FU333FWJU</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.thi.arc4n4l4un2ch</key>
        <string>UUID_PROVISIONING_PROFILE</string>
    </dict>
    <key>signingStyle</key>
    <string>manual</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <true/>
    <key>destination</key>
    <string>export</string>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.1</string> <!-- Обновите версию здесь -->
    <key>CFBundleVersion</key>
    <string>3</string> <!-- Обновите номер сборки здесь -->
</dict>
</plist>
